<% for(let i=0; i < posts.length; i++){ %>
<div class="post-preview">
  <a href="/posts/<%= posts[i]._id %>">
    <h2 class="post-title">
      <%= posts[i].title %>
    </h2>
    <h3 class="post-subtitle"><%= posts[i].detail %></h3>
  </a>
  <p class="post-meta">
    Posted by
    <a href="#">BA</a> <%= posts[i].dataCreated %>
  </p>
</div>
<hr />

<% } %>
